/* ----- GLOBAL ----- */
html {font-size:100%;}
body{
	top:0;
	left:0;
	margin:0;
	opacity:0;
	animation: fadein 1s 1s forwards;
	background:#f6f6f6;
}
@keyframes fadein {
	from {opacity:0;}
	to {opacity:1;}
}
.row {
	margin:100px auto;
}
span, h1, p, a {
	font-family:'Ovo';
	font-weight:400;
	font-size:2.25rem;
	line-height:3.25rem;
	color:#524B59;
}
p, .portfolio a {
	font-size:1.5rem;
	line-height:2.25rem;
}
a {
	position:relative;
	transition: all 0.25s;
	cursor:pointer;
	background:#D6BA73;
  	animation: bgcycle 6s linear infinite;
  	box-shadow: 0 2.4rem #f6f6f6 inset;
  	text-decoration:none;
}
a:hover, a:active, a:focus {
	text-decoration:none;
	box-shadow: 0 1.5rem #f6f6f6 inset;
  	cursor:pointer;
}

@keyframes bgcycle {
  0% {
    background:#D6BA73;
  }
  25% {
    background:#93AF9A;
  }
  50%{
    background:#93AF9A;
  }
  75% {
    background:#D6BA73;
  }
  100% {
    background:#D6BA73;
  }
}

/* ----- HEADER ----- */
header {
	position:fixed;
	top:40px;
	left:40px;
	right:40px;
	z-index:1000;
}
.logo {
	width:24px;
}

/* ----- INTRO ----- */
.intro {
	margin:200px auto 100px;
}
.intro span {
	pointer-events: none;
	display:none;
	opacity:0;
	transition: all 0.6s;
}
.intro .hi {
	position:relative;
	display:inline;
	opacity:1;
	pointer-events: visible;
	transform-origin:center center;
}
.intro span:nth-child(2) {
	display:inline;
}
a.cleared {
	background:transparent;
	pointer-events:none;
	color:#524B59;
	animation:none;
	transition: all 0.6s;
	text-decoration:none;
	cursor:pointer;
	position:relative;
}
a.cleared {
	pointer-events:none;
}
a.cleared:hover {
	background:transparent;
}
.intro .exists.newParagraph {
	display:inline-block;
	margin-top:3rem;
}
.intro .cleared:before {
	background:transparent;
	pointer-events: none;
}
.intro .exists {
	display:inline;
}
.intro .visible {
	opacity:1;
	pointer-events: auto;
}

/* ----- PORTFOLIO ----- */
.portfolio {
	display:none;
}
.portfolio .work {
	position:relative;
}
.portfolio .work-title {
	position:absolute;
	left:0;
	top:50%;
	transform:translateY(-50%);
	width:40%;
	background:#fff;
	padding:80px 50px;
}
.portfolio h1 {
	line-height:2rem;
	margin-top:0;
}
.portfolio p {
	margin-bottom:0;
}
.portfolio a {
	box-shadow: 0 1.6rem #fff inset;
}
.portfolio a:hover {
	box-shadow: 0 1rem #fff inset;
}
.portfolio a:before {
    content: '';
    background: white;
    width: 100%;
    height: 2px;
    position: absolute;
    top: -1px;
}
.portfolio img {
	width:100%;
	line-height:0;
}

/* ----- OUTRO ----- */
.outro {
	margin:100px auto;
	display:none;
}
.outro span {
	display:inline-block;
	opacity:1;
	pointer-events: visible;
}
.footer {
	font-family:'Muli';
	font-size:0.92rem;
	color:#999;
}

/* ----- REVEAL END-STATE ----- */
.exists {
	display:block;
}

@media only screen and (max-width:800px){
	.row {
		margin:60px auto;
	}
	.intro {
		margin:120px auto 0;
	}
	header {
		top:50px;
		left:20px;
	}
	span, h1, p, a {
	    font-size: 1.5rem;
	    line-height: 2.35rem;
	}
	a {
		box-shadow: 0 1.58rem #f6f6f6 inset;
	}
	a:hover, a:active, a:focus {
		box-shadow: 0 1rem #f6f6f6 inset;
	}
	.portfolio {
		padding:0;
	}
	.portfolio .work {
		position:relative;
		height:auto;
	}
	.portfolio .work-title {
	    position: relative;
	    top: auto;
	    transform: translateY(-50px);
	    width: 80%;
	    padding: 40px 20px;
	}
	p, .portfolio a {
	    font-size: 1.25rem;
	    line-height: 1.85rem;
	}
	.portfolio a {
		box-shadow: 0 1.28rem #fff inset;
	}
	.portfolio a:hover {
		box-shadow: 0 0.9rem #fff inset;
	}
	.portfolio img {
		position:relative;
	}
	.outro {
		margin:0 auto;
	}
	.outro .row:first-child {
		margin-top:0;
	}
}

