/* ----- GLOBAL ----- */
html {font-size:100%;}
body{
	top:0;
	left:0;
	margin:0;
	opacity:0;
	animation: fadein 1s 1s forwards;
	background:#f6f6f6;
}
@keyframes fadein {
	from {opacity:0;}
	to {opacity:1;}
}
span {
	font-family:'Ovo';
	font-size:3rem;
	line-height:4.25rem;
	color:#444;
}
h1, h2, h3, p{
	font-family:'Ovo';
	color:#eee;
	display:inline;
}
h1 {
	font-family:'Ovo';
	font-size:2.5rem;
	font-weight:400;
	line-height:3rem;
	padding:0 0.5rem;
}
h2 {
	font-family:'Muli';
	font-size: 1rem;
	font-weight:700;
	line-height:1.5rem;
	text-transform:uppercase;
	letter-spacing:2.5px;
	padding:0 0.5rem;
}
a {
	transition: all 0.25s;
	text-decoration:underline;
	cursor:pointer;
	color:#111;
	position:relative;
}
a:hover, .portfolio a:hover {
	background:#444;
	color:#f6f6f6;
	text-decoration:none;
}
@media (max-width:500px) {
	span {
		font-size:2.25rem;
		line-height:3rem;
	}
}
.headimg {
	position:fixed;
	max-width:1000px;
	width:100%;
	left:50%;
	top:50%;
	transform:translate(-50%,-50%);
	z-index:-100;
	background:url('walkerBW_blurred.jpg');
	background-size:100%;
	line-height:0;
	opacity:1;
}
.headimg img {
  -webkit-transform: translate3d(0, 0, 0);
  width:100%;
  -webkit-filter:blur(100px);
  line-height:0;
}

/* ----- INTRO ----- */
.intro {
	margin:150px auto;
}
.intro span {
	pointer-events: none;
	display:none;
	opacity:0;
	transition: all 0.25s;
}
.intro .hi {
	position:relative;
	display:inline;
	opacity:1;
	pointer-events: visible;
	transform-origin:center center;
}
.intro span:nth-child(2) {
	display:inline;
}
a.cleared {
	background:transparent;
	pointer-events:none;
	color:#444;
	animation:none;
	transition: all 0.25s;
	text-decoration:none;
	cursor:pointer;
	position:relative;
}
a.cleared {
	pointer-events:none;
}
a.cleared:hover {
	background:transparent;
}
.intro .exists.newParagraph {
	display:inline-block;
	margin-top:3rem;
}
.intro .cleared:before {
	background:transparent;
	pointer-events: none;
}
.intro .exists {
	display:inline;
}
.intro .visible {
	opacity:1;
	pointer-events: auto;
}

/* ----- PORTFOLIO ----- */
.portfolio-wrap {
	width:100%;
	display:none;
	background:#222222;
	margin-top:80vh;
	padding:80px 0 100px;
}
.portfolio {
	position:relative;
}
.portfolio img {
	width:100%;
}
.portfolio .piece {
	padding:100px 0;
	line-height:0;
	position:relative;
}
.portfolio a {
	color:#eee;
}

/* ----- OUTRO ----- */
.outro {
	margin:150px auto;
	padding:0 20px;
	display:none;
}
.outro span {
	display:inline-block;
	opacity:1;
	pointer-events: visible;
}
.social {
	margin-top:150px;
	text-align:center;
}
.social span {
	margin:25px;
	text-align:center;
}
.logo {
	max-height:48px;
	margin-top:100px;
}
@media (max-width:500px) {
	.social {
		margin-top:80px;
	}
	.social span {
		margin:20px;
	}
	.logo {
		margin-top:80px;
		margin-bottom:80px;
	}
}

/* ----- REVEAL END-STATE ----- */
.exists {
	display:block;
}