/* ----- GLOBAL ----- */
html {font-size:100%;}
body{
	top:0;
	left:0;
	margin:0;
	opacity:0;
	animation: fadein 1s 1s forwards;
	background:#f6f6f6;
}
@keyframes fadein {
	from {opacity:0;}
	to {opacity:1;}
}
.row {
	margin:150px auto;
}
span, h1, h2, h3, p, a {
	font-family:'Ovo';
	font-weight:400;
	font-size:2.25rem;
	line-height:3.25rem;
	color:#524B59;
}
h2 {
	font-size: 1.75rem;
	line-height: 2.25rem;
}
h3 {
	font-size: 1.25rem;
}
p {
	font-size:1.25rem;
	line-height:1.75rem;
}
a {
	position:relative;
	transition: all 0.25s;
	cursor:pointer;
	background:#D6BA73;
  	animation: bgcycle 6s linear infinite;
  	box-shadow: 0 2.4rem #f6f6f6 inset;
  	text-decoration:none;
}
a:hover, a:active, a:focus {
	text-decoration:none;
	box-shadow: 0 1.5rem #f6f6f6 inset;
  	cursor:pointer;
}

@keyframes bgcycle {
  0% {
    background:#D6BA73;
  }
  25% {
    background:#93AF9A;
  }
  50%{
    background:#93AF9A;
  }
  75% {
    background:#D6BA73;
  }
  100% {
    background:#D6BA73;
  }
}

/* ----- HEADER ----- */
header {
	position: absolute;
	top:40px;
	left:40px;
	right:40px;
	z-index:1000;
}
header a.logolink {
	all: unset;
}
.logo {
	position: fixed;
	width:24px;
}
.clients {
	list-style: none;
	margin: 10px;
	padding: 0;
}
.clients li {
	width: 8%;
	min-width: 80px;
	margin: 4% 4%;
	display: inline-block;
	vertical-align: middle;
	text-align: center;
}
.clients li img {
	width: 100%;
	text-align: center;
}

/* ----- INTRO ----- */
.skipintro {
	position:fixed;
	bottom:50px;
	right:100px;
	font-size:1rem;
	line-height:1rem;
	color:#777;
}
.skipintro:hover {
	color:#524B59;
	text-decoration:underline;
}
.intro {
	margin: 200px auto 0;
}
.intro .row {
	margin-bottom: 0;
}
.intro span {
	pointer-events: none;
	display:none;
	opacity:0;
	transition: all 0.6s;
}
.intro .hi {
	position:relative;
	display:inline;
	opacity:1;
	pointer-events: visible;
	transform-origin:center center;
}
.intro span:nth-child(2) {
	display:inline;
}
a.cleared {
	background:transparent;
	pointer-events:none;
	color:#524B59;
	animation:none;
	transition: all 0.6s;
	text-decoration:none;
	cursor:pointer;
	position:relative;
}
a.cleared {
	pointer-events:none;
}
a.cleared:hover {
	background:transparent;
}
.intro .exists.newParagraph {
	display:inline-block;
	margin-top:3rem;
}
.intro .cleared:before {
	background:transparent;
	pointer-events: none;
}
.intro .exists {
	display:inline;
}
.intro .visible {
	opacity:1;
	pointer-events: auto;
}
.hidden {
	display:none;
}

/* ----- PORTFOLIO ----- */
.home .portfolio {
	height: 0;
	overflow: hidden;
	opacity: 0;
	transition: all 0.6s;
}
.portvisible {
	opacity: 1 !important;
	height: auto !important;
	overflow: default !important;
	pointer-events: auto;
}
.portfolio .work, .casestudy .work {
	position:relative;
	max-height: 600px;
	overflow: hidden;
}
.portfolio .work-title, .casestudy .work-title {
	position:absolute;
	left:0;
	top:50%;
	transform:translateY(-50%);
	width:40%;
	background:#fff;
	padding:80px 50px;
	z-index: 1;
}
.portnav {
	position: fixed;
	top:40px;
	right:40px;
	z-index:1000;
}
.portnav a{
	all: unset;
	font-family:'Ovo';
	font-weight:400;
	font-size:1rem;
	line-height:2rem;
	color:#524B59;
	transition: all 0.25s;
}
.portnav a:hover {
	text-decoration: underline;
	color: #D6BA73;
}
.work-title span, .work-title a, .worknext a {
	font-size: 1.5rem;
	line-height: 2.25rem;
}
.portfolio h1, .casestudy h1 {
	line-height:2rem;
	margin-top:0;
}
.portfolio p, .casestudy p {
	margin-bottom:0;
}
.portfolio a, .casestudy a {
	box-shadow: 0 1.6rem #fff inset;
}
.portfolio a:hover, .casestudy a:hover {
	box-shadow: 0 1rem #fff inset;
}
.portfolio a:before, .casestudy a:before {
    content: '';
    background: white;
    width: 100%;
    height: 2px;
    position: absolute;
    top: -1px;
}
.portfolio img, .casestudy img{
	width:100%;
	line-height:0;
}

.casestudy-detail {
	background: #fff;
}
.casestudy-detail .container {
	padding: 0 50px;
}
.roletag {
	font-size: 0.75rem;
	color: #666;
	text-transform: uppercase;
	letter-spacing: 1px;
	line-height: 0;
}


/* ----- OUTRO ----- */
.outro {
	margin:50px auto;
	display:none;
}
.outro span {
	display:inline-block;
	opacity:1;
	pointer-events: visible;
}
.footer {
	font-family:'Muli';
	font-size:0.92rem;
	color:#999;
}

/* ----- REVEAL END-STATE ----- */
.exists {
	display:block;
}


.viewwork-hover {
  position:absolute;
  display:inline-block;
  top: 0;
  left: 0;
  width:100%;
  height:100%;
  background:#D6BA73;
  transition:all 0.5s;
  opacity: 0;
}
.viewwork {
  display:inline-block;
  position:absolute;
  right:100px;
  top:50%;
  transform:translateY(-50%);
  z-index:100;
  font-family:'Ovo';
  font-weight:400;
  font-size:1rem;
  line-height:1rem;
  color:#524B59;
}
.viewwork:before{
  content:'';
  width:200%;
  padding-top:200%;
  border-radius:100%;
  background:#fff;
  display:inline-block;
  position:absolute;
  transform:translate(-50%, -50%);
  top:50%;
  left:50%;
  transition:all 0.4s;
  z-index:-1;
}
a.viewwork-button {
	all: unset;
}
a.viewwork-button:hover .viewwork{
	text-decoration: underline;
	cursor: pointer;
}
a.viewwork-button:hover + .viewwork-hover {
  opacity: 0.5;
}
.mobile-viewwork {
	display: none;
}


@media only screen and (max-width:800px){
	.row {
		margin:60px auto;
	}
	.intro {
		margin:120px auto 0;
	}
	header {
		left:20px;
		position: absolute;
	}
	.logo {
		position: absolute;
	}
	.portnav {
		position: absolute;
		right: 20px;
	}
	span, p, a {
	    font-size: 1.5rem;
	    line-height: 2.35rem;
	}
	h1 {
		font-size: 1.75rem;
	}
	a {
		box-shadow: 0 1.58rem #f6f6f6 inset;
	}
	a:hover, a:active, a:focus {
		box-shadow: 0 1rem #f6f6f6 inset;
	}
	.portfolio {
		padding:0;
	}
	.portfolio .work, .casestudy .work {
		position:relative;
		height:auto;
		max-height: none;
	}
	.portfolio .work-title, .casestudy .work-title {
	    position: relative;
	    width: auto;
	    padding: 40px 20px;
	    left: 0;
	    top: 0;
	    transform: none;
	}
	.portfolio img {
		position:relative;
	}
	.casestudy {
		padding: 50px 20px;
		height: auto;
	}
	.casestudy-detail .container {
		padding: 20px;
	}
	.outro {
		margin:0 auto;
	}
	.outro .row:first-child {
		margin-top:0;
	}
	.viewwork {
	  display: none;
	}
	.mobile-viewwork {
		display: block;
		margin-top: 30px;
		text-align: center;
	}
}
