body {
	background: #1C1F22;
	overflow-x:hidden;
	margin:0;
	position:relative;
}
::selection {
	background: #AB8C5C;
}
body:after {
	content:'';
	position:fixed;
	width:100vw;
	height:100vh;
	left:0;
	top:0;
	pointer-events:none;
    box-shadow: inset 0 0 100px #000;
    mix-blend-mode: overlay;
}
.center-text {
	text-align:center;
}

img {
	width:100%;
	pointer-events:none;
	user-select: none;
	z-index:-1000;
}

h2 {
	color: #C8CAC6;
	font-family: 'MADE Kenfolg';
	font-size: 5vw;
	font-weight:300;
	letter-spacing: -2px;
	line-height: 5vw;
	margin-top:0.6vw;
	margin-bottom:1.2vw;
}


.logo {
	position:sticky;
	top:40px;
	width:100%;
	margin-top:120px;
	text-align:center;
	z-index:10000;
}
.logo svg {
	width: 30px;
}
.logo path {
	fill: #B1854C;
}
.lines {
	background-image:url(../assets/lines@2x.png);
	background-size:100%;
	width:100%;
	height:100%;
	position:absolute;
	left:0;
	top:0;
	background-repeat: no-repeat;
	pointer-events:none;
}
.left .inner {
	position:absolute;
	top:120px;
	left:-62%;
}
.right .inner {
	position:absolute;
	top:120px;
	left:62%;
}
.title, .presents, .subhead {
	text-align:center;
	background-image: url(../assets/gradient.png);
	background-attachment:fixed;
	background-position: center;
	-webkit-text-fill-color: transparent;
	-webkit-background-clip: text;
}
.title {
	font-family: 'MADE Kenfolg';
	font-size: 6.8vw;
	font-weight:300;
	letter-spacing: -2px;
	line-height: 6.6vw;
	padding: 15px 0;
	margin:0.4vw auto 4vw;
}
.presents {
	font-family: 'Grafier';
	text-transform:uppercase;
	letter-spacing: 3px;
	font-weight:800;
	font-size:1.2vw;
}
.subhead {
	font-family: 'Telegraf';
	font-weight:100;
	font-size:2vw;
	line-height:3vw;
	padding: 0 20%;
}
.intro {
	padding-top:120px !important;
}

.cockatoo {
	position:relative;
	padding-top:120px !important;
}
.cockatoo-background {
	position:relative;
	width:100%;
	z-index:-100;
}
.cockatoo-background img {
	position:absolute;
	width:75%;
	top:0;
	right:-5%;
}
.small-caps {
	font-family: 'Grafier';
	text-transform:uppercase;
	letter-spacing: 3px;
	font-weight:800;
	font-size:1.1vw;
	color:#90AA8B;
}
.cockatoo .section-title span {
	display:block;
}
.cockatoo .section-title .line1 .ampersand {
	font-size:6.6vw;
	display:inline;
	margin-left:-0.3vw;
}
.cockatoo .section-title .line2 {
	padding-left:2.75vw;
}
.cockatoo .section-title .line3 {
	padding-left:5.5vw;
}
.client-list {
  	margin-top: 200px;
    margin-bottom: -180px;
}
.client-list ul {
	white-space: nowrap;
  	overflow: hidden;
	list-style:none;
	margin:0;
	padding:0;
	display:flex;
	justify-content: space-between;
}
.client-list li {
	color: #B48956;
	display:inline-block;
	background-image: url(../assets/gradient-light.png);
	background-attachment:fixed;
	background-position: center;
	-webkit-text-fill-color: transparent;
	-webkit-background-clip: text;
}
.client-list li:first-child {
	margin-left:0;
}
.client-list li:last-child {
	margin-right:0;
}
.button {
	font-family: 'Telegraf';
	font-weight:100;
	font-size:1.2vw;
	line-height:1.6vw;
	letter-spacing:1px;
	color: #90AA8B;
	padding:2vw;
	width:5vw;
	text-align:center;
	position:relative;
	margin-left:11.8vw;
	display:inline-block;
}
.button:after {
	content:'';
	border-radius: 50%;
	display: block;
	padding-bottom: 100%;
	padding-left:100%;
	position:absolute;
	background: #90AA8B;
	top:0;
	left:0;
	transform-origin:center center;
	mix-blend-mode: difference;
	opacity:0;
	pointer-events:none;
	transition: all 0.15s;
	transform:scale(3);
	z-index:2000;
}
.button:before {
	content:'';
	display: block;
	padding-bottom: 100%;
	padding-left:100%;
	position:absolute;
	border: 1px solid #90AA8B;
	border-radius: 50%;
	top:0;
	left:0;
	transition: all 0.15s;
}
.button:hover:after {
	opacity:1;
}

section.project {
	position:relative;
	padding: 300px 0 100px;
	margin-bottom:50px;
}
section.first-project {
	margin-top:250px !important;
}

.project:before {
	content:'';
	background: #90AA8B;
	position:absolute;
	display:block;
	top:0;
	left:50%;
	transform:translateX(-50%);
	width:90vw;
	height:100%;
	z-index:-1000;
}
.project .section-title {
	color: #DFE2DB;
}
.project .small-caps {
	color:#184755;
	margin-left:10px;
}
