body {
	height:2000px;
	background: #1C1F22;
	overflow-x:hidden;
	margin:0;
	position:relative;
}
::selection {
	background: #AB8C5C;
}
body:after {
	content:'';
	background-image:url(../assets/vignette.png);
	position:fixed;
	background-size:100% 100%;
	width:100vw;
	height:100vh;
	left:0;
	top:0;
	pointer-events:none;
}

img {
	width:100%;
	pointer-events:none;
	user-select: none;
	z-index:-1000;
}


.logo {
	position:sticky;
	top:40px;
	width:100%;
	margin-top:60px;
	text-align:center;
	z-index:1000;
}
.logo svg {
	width: 30px;
}
.logo path {
	fill: #B1854C;
}
.lines {
	background-image:url(../assets/lines@2x.png);
	background-size:100%;
	width:100%;
	height:100%;
	position:absolute;
	left:0;
	top:0;
	background-repeat: no-repeat;
	pointer-events:none;
}
.inner {
	position:absolute;
}
.left .inner {
	left:-25%;
	right:82%;
}
.center .inner {
	left:28%;
	right:28%;
}
.right .inner {
	left:82%;
	right:-25%;
}
.title, .presents, .subhead {
	text-align:center;
	background-image: url(../assets/gradient-bronze.jpg);
	background-attachment:fixed;
	background-position: center;
	-webkit-text-fill-color: transparent;
		-webkit-background-clip: text;
}
.title {
	font-family: 'MADE Kenfolg';
	font-size: 6.8vw;
	font-weight:300;
	letter-spacing: -2px;
	line-height: 6.6vw;
	padding: 15px 0;
	margin:0.4vw auto 4vw;
}
.presents {
	font-family: 'Grafier';
	text-transform:uppercase;
	letter-spacing: 3px;
	font-weight:800;
	font-size:1.2vw;
}
.subhead {
	font-family: 'Telegraf';
	font-weight:100;
	font-size:2vw;
	line-height:3vw;
	padding: 0 20%;
}
.intro {
	padding-top:120px;
}
.intro-spacer {
	z-index:-1000;
	user-select:none;
	pointer-events:none;
}
.intro-spacer .inner {
	position: relative;
	width:44vw;
}
.intro-spacer .title, .intro-spacer .presents, .intro-spacer .subhead {
	color: white;
	background:none;
	-webkit-text-fill-color: none;
	-webkit-background-clip: none;
	text-align:left;
}

.cockatoo {
	position:relative;
	margin-top:160px;
}
.cockatoo .background {
	position:absolute;
	top:0;
	right:0;
	width:75%;
	z-index:-1000;
}
.content {
	position:absolute;
	left:20%;
	margin-top:7vw;
}
.section-head {
	font-family: 'Grafier';
	text-transform:uppercase;
	letter-spacing: 3px;
	font-weight:800;
	font-size:1.1vw;
	color:#90AA8B;
}
.section-title {
	color: #C8CAC6;
	font-family: 'MADE Kenfolg';
	font-size: 5vw;
	font-weight:300;
	letter-spacing: -2px;
	line-height: 5vw;
	margin-top:0.6vw;
	margin-bottom:1.2vw;
}
.section-title span {
	display:block;
}
.cockatoo .section-title .line1 .ampersand {
	font-size:6.6vw;
	display:inline;
	margin-left:-0.3vw;
}
.cockatoo .section-title .line2 {
	padding-left:2.75vw;
}
.cockatoo .section-title .line3 {
	padding-left:5.5vw;
}
.cockatoo .button {
	font-family: 'Telegraf';
	font-weight:100;
	font-size:1.2vw;
	line-height:1.6vw;
	letter-spacing:1px;
	color: #90AA8B;
	padding:2vw;
	width:5vw;
	text-align:center;
	position:relative;
	margin-left:11.8vw;
	display:inline-block;
}
.cockatoo .button:after {
	content:'';
	border-radius: 50%;
	display: block;
	padding-bottom: 100%;
	padding-left:100%;
	position:absolute;
	background: #90AA8B;
	top:0;
	left:0;
	transform-origin:center center;
	mix-blend-mode: difference;
	opacity:0;
	pointer-events:none;
	transition: all 0.15s;
	transform:scale(3);
}
.cockatoo .button:before {
	content:'';
	display: block;
	padding-bottom: 100%;
	padding-left:100%;
	position:absolute;
	border: 1px solid #90AA8B;
	border-radius: 50%;
	top:0;
	left:0;
	transition: all 0.15s;
}
.cockatoo .button:hover:after {
	opacity:1;
}

section.green {
	width:100%;
	display:block;
	position:relative;
	height:500px;
	background:green;
}
